.h1,
.name__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.h1 {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.h2 {
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.template2 {
  width: 900px;
  min-height: 1272.5px;
}

.profilePicture {
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .template2 {
    zoom: 0.4;
  }
}
