@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: white;
  color: black;
  border-radius: 10px;
}

html,
body {
  scroll-behavior: smooth;
}

#build-root {
  background-image: url("./assets/Fill-in.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

#profileImage {
  width: 35mm;
  height: 45mm;
}
