@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: white;
  color: black;
  border-radius: 10px;
}

html,
body {
  scroll-behavior: smooth;
}

#build-root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Fill-in.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

small {
  font-size: 1.1rem;
  font-weight: 500;
}
